body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
  }
  
  .main-body {
    flex: 0 0 auto;
    height: 500px;
    width: 400px;
    background-color: #595351;
    border-radius: 5px;
  }
  
  .screen {
    background-color: #55ab83;
    height: 120px;
    width: 375px;
    margin: 12.5px;
    margin-bottom: 25px;
    text-align: right;
    font-family: "VT323", monospace;
    font-size: 60px;
  }
  
  .row {
    display: flex;
    justify-content: space-evenly;
  }
  
  .button {
    flex: 0 0 auto;
    height: 60px;
    width: 70px;
    margin-bottom: 27.5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }
  
  #blank {
    background-color: transparent;
  }
  